@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');

html,
body {
  height: 100%;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.page {
  flex: 1 1 auto;
  background: #fafbfe;
}

[class*="page__"] {
  padding: 40px 0;
}

[class*="__container"] {
  margin: 0 auto;
}

@media (max-width: 2000.98px) {
  [class*="__container"] {
    max-width: 1920px;
  }
}

@media (max-width: 1920.98px) {
  [class*="__container"] {
    max-width: 1660px;
  }
}

@media (max-width: 1660.98px) {
  [class*="__container"] {
    max-width: 1240px;
  }
}

@media (max-width: 1240.98px) {
  [class*="__container"] {
    max-width: 1110px;
  }
}

@media (max-width: 1100.98px) {
  [class*="__container"] {
    max-width: 990px;
  }
}


@media (max-width: 990.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
    margin: 0px 15px;
  }
}


@media (min-width: 1660.98px) {
  .title {
    font-size: 5rem;
  }

  .sub-title {
    font-size: 2rem;
  }

  .specialties-title {
    font-size: 2.5rem;
  }

  .specialties__item {
    font-size: 2rem;
  }
}

@media (max-width: 522.98px) {
  .title {
    font-size: 1.275rem;
  }
}

.align-center {
  text-align: center;
}